@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(135deg, rgb(0, 0, 0), rgb(19, 88, 121), #702963);
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h1 {
    position: absolute;
    top: 3rem;
    color: #bfd401;
    font-size: 3rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;
}

.square {
    background-color: #1d1d1d;
    box-shadow: 0 0 2px #000;
    height: 16px;
    width: 16px;
    margin: 2px;
    transition: 2s ease;
    /* when we move away effect will last for 2s */
}

.square:hover {
    transition-duration: 0s;
}
/* When we hover over the effect will be immediate*/

footer {
    color: slategray;
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 30px;
    z-index: -1;
}
